*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat';
    font-weight: bolder;
}

section{
    background-color: rgb(18,26,31);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 90%;
    max-width: 400px;
    background-color: rgb(39, 55, 59);
    border-radius: 8px;
    overflow: hidden;
}   
.display{
    background-color: rgb(182,182,182);
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
}

.display-1{
    opacity: .4;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
}

.tempResult{
    position: absolute;
    bottom: 0;
    left: 10;
    font-size: 20px;
    opacity: .34
}

.allButtons{
    color: whitesmoke;
    display: grid;
    grid-template: repeat(4, 1fr)/ repeat(4, 1fr);
}

.button{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: .5px solid rgb(59, 74, 82);
    font-size: 30px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(79, 169, 204);
}

.btn-0{
    grid-column: 1/3;
}
